doctype html
html
  head
    title Tic-tac-toe
    meta( charset="UTF-8" )
    meta( name="viewport" content="initial-scale=1" )
    link( rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700|Material+Icons" )
  body( ng-app='tic-tac-toe' ng-strict-di ): game
